@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(to right, #4CA1AF, #C4E0E5);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 90%;
}

.login-box {
    display: flex;
    align-items: center;
    width: 100%;
}

.illustration img {
    width: 250px;
    height: auto;
}

.login-form {
    margin-left: 20px;
    width: 100%;
}

h2 {
    color: #24615D;
    font-size: 28px;
    margin-bottom: 10px;
}

p {
    font-size: 14px;
    color: #555;
    margin-bottom: 20px;
}

/* input {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
} */

/* .remember-me {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.remember-me input {
    margin-right: 8px;
} */

button {
    width: 100%;

    background: #24615D;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #1a4944;
}

.forgot-password {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #24615D;
    font-size: 14px;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}