body {font-family: "Lato", sans-serif}
.mySlides {display: none}

body, html {
  height: 100%;
  margin: 0;
}

ul {
  height:55px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:black;
}

li {
  float: left;
  font-size: large;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color:white;
  color:black;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.unsplash.com/photo-1590674899484-d5640e854abe?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cGFya2luZ3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80");
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: #555;
  color: white;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color:white;
}

.flex-container > div {
  background-color:white;
  width: 400px;
  text-align: center;
}
.section {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  float: left;
  width: 50%;
  padding: 35px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width:830px) {
  .section  {
    width: 100%;
  }
}

.footer {
  background-color:black;
  padding: 5px;
  text-align: center;
  color: white;
  justify-content:space-evenly ;
}
