:root {
  --primary-color: #f5cd05;
  --secondary-color: #141414;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: var(--secondary-color);

}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
}

.login-btn {
  background: var(--primary-color);
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-weight: bold;
}

.glossy-bg {
  background: rgba(28, 27, 27, 0.1);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  border-radius: 12px;
  padding: 1rem;
}

.cta-btn {
  background: var(--primary-color);
  border: none;
  padding: 15px 20px;
  font-size: 18px;
  cursor: pointer;
  font-weight: bold;
}

.booking-form {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 15px 20px;
}

input,
select {
  border: none;
  border-radius: 5px;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  text-align: left;
}

.book-now {
  background-color: var(--primary-color);
  cursor: pointer;
}

/* Hero Section */
.hero-section {
  background: url('../img/bg-image.webp') center center/cover no-repeat;
  color: #fff;
  height: 50vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.hero-section .hero-content {
  position: relative;
  z-index: 2;
  text-align: center;
}

.section-title {
  font-size: 2.5rem;
  font-weight: bold;
}

.team-card {
  border: none;
  transition: transform 0.3s ease;
}

.team-card:hover {
  transform: translateY(-10px);
}

footer {
  background: var(--secondary-color);
}