{% extends 'base.html' %}
{% block title %}Testimonials - Easy Park{% endblock %}
{% block content %}
<main class="container bg-white py-5">
    <h2 class="section-title text-center mt-4">What Our Customers Say</h2>
    <div class="testimonials my-4">
        <div class="testimonial">
            <img src="{{url_for('static', filename='img/reviews/review1.jpg')}}" alt="U">
            <p class="text">"Great service and support! Highly recommend!"</p>
            <p class="name">- Alex Johnson</p>
        </div>
        <div class="testimonial">
            <img src="{{url_for('static', filename='img/reviews/review2.jpg')}}" alt="User">
            <p class="text">"Amazing experience, very satisfied with the results!"</p>
            <p class="name">- Joshua Mike</p>
        </div>
        <div class="testimonial">
            <img src="{{url_for('static', filename='img/reviews/review3.jpg')}}" alt="User">
            <p class="text">"Fast and reliable service. Will use again!"</p>
            <p class="name">- Michael Smith</p>
        </div>
    </div>
</main>
{% endblock %}